<?xml version="1.0" encoding="UTF-8" ?>
<beans xmln="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.framework.org/schema/beans/spring-beans.xsd">
    <bean id="connectionFactoryBean" class="com.uiautofree.common.config.mybatis.ConnectionFactoryBean"></bean>

</beans>